body {
    max-width: 0px auto;
    margin: 0px auto;
    width: 1920px;
    height: 1080px;
    
}
button {
    outline: none;

}
.main-wrapper{
    background: #F9FAFC;
}

/* header */

.header {
    display: flex;
    flex-direction: row;
    background: #3744BD;
    height: 91px;
    justify-content: space-between;
    align-items: center;
    
    
}
.navbar {
    margin-left: 92px;
}
.navbar-link {
    
    padding:  34px 15px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 45px;
    
}
.active-nav {
    border-bottom: 3px solid #FFFFFF;
}
.toolbar {
    display: flex;
    align-items: center;
    margin-right: 60px;
}
.toolbar-link {
    margin-left: 47px;
}

/* main */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 52px;
    
}
.work-section {
    display: block;
    width: 1296px;
    border-right: 1px solid #E9ECF2;
    margin-left: 72px;
    padding-right: 84px;
    
    
}
.top-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24px;
}
.top-buttons-wrapper {
    margin-right: 35px;
}
.btn-favorites {
    background: none;
}
.top-buttons-button {
    padding: 16px 32px;
    border: none;
    background: #d0d5d8;
    border-radius: 30px;
}
.calendar-icon {
    margin-left: 18px;
}
.data-and-fulltime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    border-bottom: 1px solid #E9ECF2;
    padding-bottom: 25px;
    
 
}
.day-data {
    margin-left: 24px;
}
.full-time-progress {
display: inline-block;
margin-right: 47px;
}
.full-time-progress-time {
    display: block;
    font-size: 24px;
    color: #BBBBBB;
    

}
.full-time-progress-meter {
    width: 100px;
    height: 15px;
    
}
.dowload-button {
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    border: none;
    margin-right: 50px;
    background: #E9ECF2;


}

.issue {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px dashed #E9ECF2;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 51;
    z-index: 2;

}
.issue-wrapper {
position: relative;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    
}
.issue-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 610px;
    height: 76px;
    border-left: 3.25px solid #E34040;
    margin-left: 28px;
    padding-left: 27px;
}
.border-color-green {
    border-color: #62D2B1;
}
.border-color-yellow {
    border-color: #FFCC40;
}
.issue-info-label {
    font-size: 18px;
    color: #828282;
}
.issue-info-title {
    font-size: 20px;  
}

.issue-info-margin-right {
    margin-left: 66px;
}
.issue-time-begin {
    margin-left: 24px;
}
.issue-time-finish {
    color: #BBBBBB;
}

.issue-meter {
    display: flex;
    width: 117px;
    height: 15px;
    
}
.issue-spend-time {
    color: #BBBBBB;
    margin-left: 50px;
    font-size: 18px;
}
.issue-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    margin-left: 36px;
    margin-right: 45px;
    border: none;
    border-radius: 50%;
    background: #F0F3F5;
}

.issue-play-btn {
    width: 38px;
    height: 38px;
    border: none;
    background: #FFFFFF;
    border-radius: 50px;
    margin-left: 36px;
}
.full-timebar{
    display: flex;
    flex-direction: row;
    height:23px ;
    background: #FFFFFF;
    margin-top: 45px;
    border-radius: 10px;
}
.full-time-line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 14px;
    
}
.full-time-line-current {
    color: #C4CACB;
    font-size: 12px;
}

.time-and-calendar-section {
    display: inline-block;
    position: relative;
    width: 624px;
    height: 500px;
    /* border: 1px solid red; */
}
.more-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.time-tracking {
    margin-left: 38px;
    font-size: 24px;
}
.more-horizontal {
    background: none;
    border: none;
    padding: 0px;
    margin-right: 63px;
    
}
.new-worklog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 363px;
    border-bottom: 1px solid #E9ECF2;
}
.create-new-worklog {
    width: 66px;
    height: 66px;
    background: #FFFFFF;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 7px 15px rgba(148, 156, 160, 0.13);
}
.google-calendar-container {
    margin-top: 31px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.calendar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}
.title-calendar {
    margin-left: 38px;
    font-size: 24px;
    margin-right: 25px;
}
.switch-calendar {
    background: none;
    border: none;
    

} 
.google-calendar-icon {
    margin-right: 63px;
    background: none;
    border: none;
}

/* pop-up google colendar below hide with display none at this moment */
.popup-calendar {
    display: none;
    flex-direction: column;
    width: 343px;
    height: 138px;
    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 7px 15px rgba(148, 156, 160, 0.13);
    top: 308px;
    left: 220px;
    position: relative;
}
.popup-calendar-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;    
    
}
.popup-calendar-statusbar {
    width: 12px;
    height: 12px;
    background: #FFCC40;
    border-radius: 50%;
    margin-left: 34px;
}
.popup-calendar-btn-close {
    padding: 0%;
    margin-right: 34px;
    border: none;
    background: none;
}
.popup-calendar-info-nothing {
    font-size: 18px;
    margin: 15px 34px 0px 34px;
}

/* card-issues-main-wrapper below hide with display none default */
.card-issues-main-wrapper {
    display: none;
    flex-direction: column;
    
}

.card-issues-wrapper {
    display: flex;
    flex-direction: row;
    background: #F3F5F7;
    margin: 10px 61px 0px 37px;
    border-radius: 10px;
    
}
.card-statusbar {
    align-self: center ;
    display: flex;
    width: 3px;
    height: 76px;
    
    border-radius: 1px;
}
.card-statusbar-green {
    background: #75E1F9;
}
.card-statusbar-yellow {
    background: #F2994A;
}
.card-statusbar-blue {
    background: #8165F0;
}
.card-item {
    margin: 28px 0px 71px 40px ;
    display: flex;
    flex-direction: column;
    
}
.first-card {
    margin-top: 41px;
}
.card-issue-name {
    font-size: 20px;
}

.card-issue-time {
    margin-top: 11px;
    font-size: 20px;
}